/*Réglages généraux*/
@font-face {
    font-family: "police-titre";
    src: url(./grastitre.otf);
}
@font-face {
    font-family: "police-base";
    src: url(./Alensia.otf);
}
* {
    /*Supprimer toutes les marges par defaults pour ne pas etre embété*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*palette de couleur*/
    --couleur-claire: #D2E3C8;
    --couleur-midclaire: #86A789;
    --couleur-midfonce: #739072;
    --couleur-fonce: #4F6F52;
}
body {
    font-family: "police-base";
    background: var(--couleur-claire);
    color: var(--couleur-fonce);
}
h1 {
    font-family: "police-titre";
    font-size: 5rem;
}

h3 {
    font-size: 2.5rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--couleur-fonce) 1px;


}

#nav-bar {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

/*réglage de la partie nav */
#logo  {
    width: 8%;
    display: block;
}

/*réglage de la partie header */
header {
    background: radial-gradient(circle at center, var(--couleur-midfonce), var(--couleur-fonce));
    color: var(--couleur-claire);
    height: 20vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    font-size: 2rem;
    text-decoration: none;
    display: block;

    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
    padding: 3.5px;

    width: 10%;
    margin: 3.5px;

    text-align: center;
    border-radius: 3px;
}

.nav-button:hover {
     background-color: var(--couleur-claire);
    color: var(--couleur-fonce);
    border: solid var(--couleur-midfonce)
}

/*réglage de la partie main et aside*/

#rangement {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 25px;

}

main {
    width: 75%;


}
article {
    box-shadow:var(--couleur-midfonce) 2px 2px 5px 0;
    padding: 12px;
    margin-bottom: 10px;
}

aside {
    width: 20%;

}

#video-e2c {
max-width: 100%;

}

#lecture {
max-width: 100%;

}

#prepa-num {

max-width: 100%;
}

#fest-num {
max-width: 100%;

}