/*Réglages généraux*/
@font-face {
    font-family: "police-titre";
    src: url(./grastitre.otf);
}
@font-face {
    font-family: "police-base";
    src: url(./Alensia.otf);
}
* {
    /*Supprimer toutes les marges par defaults pour ne pas etre embété*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*palette de couleur*/
    --couleur-claire: #D2E3C8;
    --couleur-midclaire: #86A789;
    --couleur-midfonce: #739072;
    --couleur-fonce: #4F6F52;
}
body {
    font-family: "police-base";
    background: var(--couleur-claire);
    color: var(--couleur-fonce);
}
h1 {
    font-family: "police-titre";
    font-size: 5rem;
}
h2 {
    font-size: 3.5rem;
    margin-bottom: 5px;
}
h3 {
    font-size: 2.5rem;
}
h4{
    font-size: 3rem;
    font-family: "police-titre";
    color: var(--couleur-claire);
    margin-right: 50px;


}
p{
    font-size: 1.5rem;
    margin-bottom: 4px;
}



/*réglage de la partie nav */
#logo  {
    width: 8%;
    display: block;
}
nav {
    position: fixed;
    height: 10vmin;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--couleur-midclaire) 2px;

    width: 100vw;
    background-color: var(--couleur-fonce);
}

#nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

/*réglage de la partie header */
header {
    position: relative;
    top: 10vmin;
    background: radial-gradient(circle at center, var(--couleur-midfonce), var(--couleur-fonce));
    color: var(--couleur-claire);
    height: 20vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: -5;
}

.nav-button {
    font-size: 2rem;
    text-decoration: none;
    display: block;

    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
    padding: 3.5px;

    width: 10%;
    margin: 3.5px;

    text-align: center;
    border-radius: 3px;
    transition: background-color 500ms, color 1000ms, border 1000ms;
}

.nav-button:hover, .form-button:hover {
     background-color: var(--couleur-claire);
    color: var(--couleur-fonce);
    border: solid var(--couleur-midfonce)
}

/*réglage de la partie main et aside*/

#rangement {
     position: relative;
    top: 10vmin;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 25px;
    
}

main {
    width: 65%;
}
article {
    box-shadow:var(--couleur-midfonce) 2px 2px 5px 0;
    padding: 12px;
    margin-bottom: 10px;
    transition: 100ms;
}

article:hover {
    transform: translate3d(2vh, 2vh, 0);
    


}
/* reglage article 1 */
#text1-contenant {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch; }


#text1 {
    width: 55%;
    padding: 5px;
}

iframe {
    display: block;
    width: 45%;
    border-radius: 10px;
}

aside {
    right: 10px;
    top: 25vmin;
    position: fixed;
    width: 30%;

}

#video-e2c {
max-width: 100%;


}

#lecture {
max-width: 100%;
float: right;
width: 25%;

}

#prepa-num {

max-width: 100%;
margin-top: 10px;
}

#fest-num {
max-width: 100%;

}
aside>article{

    padding: 13px;
    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
    border: solid var(--couleur-midclaire) 2px;
    border-radius: 10px;
}

.intertext {
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.intertext2 {
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;


}
/* page game.html */
#main-game {
        position: relative;
        top: 10vmin;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
        width: 100%;
        padding: 30px;

        font-size: 2.5rem;
}
#user-interface{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#user-number{
    font-size: 1.5rem;
    width: 15vw;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--couleur-midclaire);
    
}
#user-number:focus{
    background-color: var(--couleur-fonce);
    color: var(--couleur-midclaire);
}
#send-button{
    display: block;
    font-size: 1.5rem;

    padding: 4px;
    margin-left: 25px;

    background-color: var(--couleur-midclaire);
    border-radius: 8px;

    box-shadow: var(--couleur-fonce) 4px 4px 6px;
    transition: box-shadow 250ms;
}

#send-button:hover{
    background-color: var(--couleur-claire);
    box-shadow: 0 0 1px 0;
}
.result-line {
    font-family: "police-titre";
    border: var(--couleur-fonce) solid 2px;
    border-radius: 4px;
    font-size: 1.5rem;
    margin: 9px;
}

/* formulaire de connection */ 
/*Formulaire de connexion*/

#connect-box {
    z-index : 20;
    position : fixed;
    width : 35vw;
    height : 20vh;
    top : 40vh;
    left : 30vw;

    background-color: var(--couleur-claire);
    color: (var(--couleur-midfonce));
    border: var(--couleur-midfonce) 1px solid;
    border-radius: 10px;

    box-shadow: black 2px 2px 4px 0;

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    padding: 1vh 2vw;
}



.connect-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.connect-line>label {
    font-size: 1.4rem;
    font-weight: 800;
    
}

.connect-line>input {    
    
    border-radius: 3px;
    width : 70%;
    font-size: 1.4rem;
    padding: 5px;
}


.form-button {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    max-width : 30%;
    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
    padding: 10px 25px;

    
    margin : 5px;

    text-align: center;
    border-radius: 5px;
    border: solid var(--couleur-claire) 2px;
    transition: background-color 300ms, color 500ms, border 500ms;
}

#connect-close {
    position: absolute;
    right: 0vh;
    top : -4.5vh;
    height: 3.5vh;
    aspect-ratio: 1;

    background-color: var(--couleur-claire);
    color: (var(--couleur-midfonce));
    border: var(--couleur-midfonce) 1px solid;
    border-radius: 10%;

    box-shadow: black 2px 2px 4px 0;

    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;

    user-select: none;
}
/* flash message et footer */ 
#flash-message {
    position: fixed;
    top: 4vh;
    right: 40vw;
    width: 50vw;

    font-size: 2rem;

    background-color: var(--couleur-fonce);
    color: var(--couleur-midclaire);
    border-radius: 15px;
    padding: 10px;

    box-shadow: black 2px 2px 4px 0;
    user-select: none;

    transition: right 1200ms;

    z-index: 20;
}
footer {
    position: fixed;
    bottom: 0vh;
    z-index: 20;

    font-size: 1.5rem;
    width: 100vh;

    padding: 5px;
    background-color: black;
    color: white;
    border-top: white 1px solid;
}


